#welcome {
    box-shadow: none !important;
    border: 0.8px solid #393939;
    padding-bottom: 2rem;
    color: white !important;
    background-size: cover;
}

.card {
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: none;
}

.navbar-menu {
    box-shadow: none !important;
}

a.navbar-item.is-active, a.navbar-item.is-selected, .navbar-link.is-active, .navbar-link.is-selected.is-active {
    background-color: #eb4a6a6a !important;
    border-radius: 0.3em;
}

.navbar-link:active {
    border-radius: 0.3em;
    background-color: #eb4a6a6a !important;
}

.columns .column .card {
    box-shadow: none !important;
    border: 1px solid #393939 !important;
}