@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* 页面字体样式设置 */
* {
    font-family: 'Roboto', 'Noto Sans CJK SC', 'Noto Sans SC', 'Segoe UI Variable Text', 'Roboto Flex', 'Roboto', 'Segoe UI', 'Inter', 'Sarasa UI SC', 'PingFang SC', 'Microsoft Yahei UI', 'Noto Sans CJK SC', 'Noto Sans SC', sans-serif;
}

/* 顶栏样式定制 */
#top-bar {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(40px) saturate(200%);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-color: #4d5154;
}

/* 页头 */
#main-1 {
    background: url("../../resources/img/panorama_0.jpg");
}

/* 浅色模式 - 起始*/
.btn-pink{
    background-color: #fb7299 !important;
    border: none;
}

.text-success {
    color: #e685b5 !important;
}

.text-web-success {
    color: #e894be !important;
    text-decoration: none;
}

.text-web-success:hover {
    color: #e685b5 !important;
    text-decoration: underline;
}

.btn-success,.btn-primary {
    background-color: #fb7299 !important;
    border-color: #fc85a7 !important;
}

.btn-success:hover {
    background-color: #fc8bab !important;
    border-color: #fc93b1 !important;
}

.bg-pink {
    background-color: #a63b74 !important;
    border-radius: 5px;
}

#about-jumao {
    color: white;
}

/* 浅色模式 - 末尾*/