@media (prefers-color-scheme: dark){
    body {
        background-color: #1c1c1c;
    }
    #top-bar {
        color: white !important;
        background-color: rgba(48, 48, 48, 0.55);
        backdrop-filter: blur(40px) saturate(200%);
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-color: #4d5154;
    }
    #navbar-title {
        color: white !important;
    }
    #jumaosama-name,#introduce,#ZhuiQiu,#ZhuiQiu-2,#mettle,#mettle-2,#favorite-sentence,#favorite-sentence-2,#favorite-sentence-3,#others-want-to-say {
        color: white !important;
    }
    #footer {
        color: white;
    }
}