/* 深色模式 - 起始 */
@media (prefers-color-scheme: dark){
    body {
        background-color: #0e0e0e;
        color: white;
    }
    #top-bar {
        color: white !important;
        background-color: rgba(48, 48, 48, 0.55);
        backdrop-filter: blur(40px) saturate(200%);
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-color: #4d5154;
    }
    .container-fluid,a {
        color: #d3d3d3 !important;
    }
    #navbarsExample11 {
        color: white !important;
    }
    #stone-world {
        background-color: rgba(48, 48, 48, 0.55) !important;
    }
    footer {
        color: white !important;
    }
    .stone-world-download {
        border-color: white;
    }
    .stone-world-download:hover {
        background-color: white;
        color: black !important;
    }
    .stone-world-download:active {
        background-color: white;
        color: black !important;
    }
}
/* 深色模式 - 结尾*/